{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}


<div class="container my-5">
    <h1>{{ category.name }}</h1>
    
    <div class="row">
                
        {% for product in category.products %}
            <div class="card col-md-4">
                <a href="{{ path ('app_product', {slug: product.slug}) }}">
                    <img class="card-img-top" src="/uploads/{{ product.image }}" alt="Image {{ product.name }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <span class="d-block">{{ product.price|priceEuro }}</span>
                    <a href="{{ path ('app_product', {slug: product.slug}) }}" class="btn btn-primary">Voir</a>
                </div>
            </div>
        {% else %}
            <p>Aucun produit disponible pour cette catégorie.</p>
        {% endfor %} 
        
    </div>
    
</div>
{% endblock %}
