{% extends '@!EasyAdmin/layout.html.twig' %}

{% block main %}

<div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
  <a href="{{current_url}}&state=5" class="btn {% if order.state == 5 %} btn-danger active {% else %} btn-outline-danger {% endif %} ">Annule</a>
  <a href="{{current_url}}&state=1" class="btn {% if order.state == 1 %} btn-warning active {% else %} btn-outline-warning {% endif %} ">En attente</a>
  <a href="{{current_url}}&state=2" class="btn {% if order.state == 2 %} btn-primary active {% else %} btn-outline-primary {% endif %} ">Payee</a>
  <a href="{{current_url}}&state=3" class="btn {% if order.state == 3 %} btn-info active {% else %} btn-outline-info {% endif %} ">Expediee</a>
  <a href="{{current_url}}&state=4" class="btn {% if order.state == 4 %} btn-success active {% else %} btn-outline-success {% endif %} ">Livre</a>
  
</div>

<h3> Commande # {{order.id}}</h3>
{{ include('admin/state.html.twig', {field : {'value' : order.state}}) }}

<span> Passee le {{order.createdAt|date('d/m/Y')}} </span> <br/>
<span> Stripe session Id {{order.stripeSessionId}} </span>

 

<div class="row mt-3">
    <div class="col-md-6 bg-light ml-2">
        <h4>Adresse</h4>
        {{ order.delivery|raw}}
    </div>
    <div class="col-md-6 bg-light">
        <h4>Shop</h4>
        {{order.carrier}}
    </div>
</div>

       {% for product in order.orderDetails %}

        {% endfor %}
        
        
       


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Produit</th>
      <th scope="col">Image</th>
      <th scope="col">Prix</th>
      <th scope="col">Quantite</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
  {% set totalQuantity = 0 %}
  {% set totalPrice = 0 %}
    {% for product in order.orderDetails %}
    <tr>
        
      <td>{{product.productName}}</th>
      <td><img src="/uploads/{{ product.productImage }}" alt="{{ product.productName }}" style="max-width: 100px;"/></td>
      <td>{{product.productPrice|priceEuro}}</th>
      {% set totalPrice = totalPrice + product.productPrice %}
      <td>{{product.productQuantity}}</th>
       {% set totalQuantity = totalQuantity + product.productQuantity %}
      <td>{{(product.productQuantity * product.productPrice)|priceEuro}}</th>
        
    </tr>
    {% endfor %}

    <tr>
      <td colspan="4">{{order.carrier}}</td>
      <td>{{order.carrierPrice|priceEuro}}</td>
    </tr>

    
    <tr>
      <th scope="col">Total</th>
      <th scope="col"></th>
      <th scope="col">{{totalPrice|priceEuro}}</th>
      <th scope="col">{{totalQuantity}}</th>
      <th scope="col">{{(totalPrice + order.carrierPrice)|priceEuro}}</th>
    </tr>
     
  </tbody>
</table>





{% endblock %} 

