{% extends 'base.html.twig' %}


{% block body %}


<div class="container my-5">
    
    <div class="row">
        <div class="col-md-3">
            <img class="img-fluid" src="/uploads/{{ product.image }}" alt="Image {{product.name}}">
        </div>        

        <div class="col-md-9">
            <div class="btn-group">
                <a href="{{ path('app_category', { slug : product.category.slug } ) }}" class="btn btn-primary" > {{product.category.name}}</a>
                <a href="" class="btn btn-primary active" aria-current="page"> {{product.name}} </a>
            </div>
            
            
            <h1>{{product.name}}</h1>
            <p>{{product.description|raw }}</p>
            <span class="badge bg-dark p-2 display-6">{{product.price|priceEuro}}</span>
            <a href="{{ path('app_cart_add', {id : product.id} ) }}" class="btn btn-succes mt-3">Ajouter au panier</a> 
            
            {% if app.user %}
                    {% if product in app.user.wishlists %}
                        <a href="{{ path('app_account_wishlist_remove', { id : product.id }) }}">
                            <i class="fa-solid fa-heart text-danger "> </i>
                        </a>
                    {% else %}
                        <a href="{{ path('app_account_wishlist_add', { id : product.id }) }}">
                            <i class="fa-regular fa-heart text-danger "> </i>
                        </a>    
                    {% endif %}
                       
            {% else %}
                <a data-bs-toggle="collapse" href="#collapseWishlistAlert" role="button" aria-expanded="false" aria-controls="collapseWishlistAlert"><i class="fa-solid fa-heart"></i> </a>
            {% endif %}

            <div class="collapse" id="collapseWishlistAlert">
                <div class="card card-body">
                    Pour sauvgarder un produit, <a href="{{ path('app_login') }}">conectez-vous</a> ou <a href="{{ path('app_register') }}">creez votre compte</a>
     
                </div>
            </div>
            
            
        </div>  
    </div>
   
</div>
{% endblock %}
